beautifulsoup4~=4.12.2
requests~=2.30.0
cachecontrol~=0.12.11
# required until cachecontrol compatible with urllib>=2 (https://github.com/ionrock/cachecontrol/pull/294)
urllib3<3
lockfile~=0.12.2
apscheduler~=3.10.1
flask~=2.3.2
Flask-Bootstrap~=3.3.7.1
Flask-Login~=0.6.2
Flask-WTF~=1.1.1
