:root {
    --color-active: #FDC02F;
}

body {
    font-size: 32pt;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #FAFAFA;
}

h1 {
    font-family: inherit;
    font-size: 60pt;
}

h2 {
    font-family: inherit;
    font-size: 50pt;
}

button {
    min-height: 2em;
    min-width: 2em;
    padding: 0.5em 0.5em;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    border-width: 1px;
    margin: 0.25em 0.25em;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 22pt;
    font-weight: bolder;
    color: #46749C;
}

button.day {
    color: #ffffff;
}

button.selected {
    color: var(--color-active);
    font-weight: 900;
}

input {
    font-family: inherit;
    font-size: 22pt;
    color: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 10px;
    width: 10em;
    min-height: 2em;
}

td {
    font-family: inherit;
    font-size: 40;
    border-style: none;
    padding: 0.25em;
}

ul {
    font: inherit;
    list-style-type: none;
}

table {
    width: 100%;
}

tr.act-name {
    margin-top: 2em;
}

td.act-name {
    background-color: #E4F5FD;
    font-size: 40pt;
}

tr.day-contents {
    display: none;
}

td.day {
    color: #ffffff;
    background-color: #1EAAF1;
    font-size: 50pt;
    padding: 0.25em 0em;
}

li.showtime.started {
    color: var(--color-active);
    font-weight: 800;
}

li.showtime.over {
    text-decoration: line-through;
    color: grey;
}

div.showtime-annotation {
    display: none;
}

div.showtime-annotation.visible, div.time-left {
    display: inline;
}

div.time-left {
    font-weight: normal;
    font-style: italic;
    color: red;
}

.mirror-animated.mirrored {
    display: inline-block;
    -moz-transform:    scaleX(-1); /* Gecko */
    -o-transform:      scaleX(-1); /* Opera */
    -webkit-transform: scaleX(-1); /* Webkit */
    transform:         scaleX(-1); /* Standard */

    filter: FlipH;                 /* IE 6/7/8 */
}

button.day {
    font-size: 50pt;
    border-style: none;
    border-radius: 0%;
    border-width: 0px;
    background-color: transparent;
    padding: 0em 0.5em;
    margin: 0;
    min-height: auto;
    min-width: none;
}

div.dressing-room-buttons {
    z-index: 1;
    position: relative;
}

div.dressing-room-loader {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    z-index: 2;
}

img.dressing-room-loader {
    height: 80;
    margin: auto auto;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #E1E1E1;
        background-color: #111111;
    }

    td.day {
        background-color: #111E24;
    }

    td.act-name {
        background-color: #1C2D36;
    }

    button {
        background-color: #1C1C1C;
    }

    input {
        color: inherit;
        background-color: #1C1C1C;
    }

    div.dressing-room-loader {
        background-color: #111111;
    }

    img.dressing-room-loader {
        -webkit-filter: invert(1);
        filter: invert(1);
    }
}
