body, p, button, td, th {
    font-size: 32pt;
}

h1 {
    font-size: 60pt;
}

button.dressing-room {
    min-height: 2em;
    min-width: 2em;
    padding: 0.5em 0.5em;
    border-style: solid;
    border-color: grey;
    border-radius: 30%;
    border-width: 1px;
    margin: 0.25em 0.25em;
    background-color: #eeeeee;
    font-size: 22pt;
    font-weight: bolder;
}

button.dressing-room.selected {
    background-color: lightblue;
}

td {
    border-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
    padding: 0.25em;
}

table {
    width: 100%;
}

tr.act-name {
    margin-top: 2em;
}

td.act-name {
    background-color: lightcyan;
    font-size: 40pt;
}

tr.day-contents {
    display: none;
}

td.day {
    background-color: cyan;
    font-size: 50pt;
    padding: 0.25em 0em;
}

button.day {
    font-size: 50pt;
    border-style: none;
    padding: 0em 0.5em;
}

div.dressing-room-buttons {
    z-index: 1;
    position: relative;
}

div.dressing-room-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
}

img.dressing-room-loader {
    height: 80;
    margin: auto auto;
}
