body, p, button, td, th {
    font-size: xx-large;
}

button.dressing-room {
    min-height: 2em;
    min-width: 2em;
    padding: 0.5em 0.5em;
    border-style: solid;
    border-color: grey;
    border-radius: 30%;
    border-width: 1px;
    margin: 0.25em 0.5em;
    background-color: #eeeeee;
}

button.dressing-room.selected {
    background-color: lightblue;
}

img.dressing-room-loader {
    height: 30;
}
