{% import "macros.jinja" as macros %}
{% include "header.html" %}

<body onload="onLoad()">
    <ul class="navigation">
    {{ macros.nav_button("arrow_back", "/", "material-symbols-outlined") }}
    </ul>
    <div class="navigation-margin"></div>
    <p>This page helps you generate a URL for a calendar feed which you can subscribe to on your
    device, and contains up-to-date shows and dressing rooms for this stage.</p>

    <p>Configure show reminders:</p>
    <ul id="reminder-entries">
        <li id="template-entry" style="display: none;">
            <select class="minute-value" onchange="updateUrl()">
                {% for mins in range(1, 11)|list + range(15, 61, 5)|list %}
                <option value="{{ mins }}">{{ mins }} minutes</option>
                {% endfor %}
            </select>
            <select class="before-after" onchange="updateUrl()">
                <option value="-">before</option>
                <option value="">after</option>
            </select>
            <select class="reference" onchange="updateUrl()">
                <option value="start_utc">start of show</option>
                <option value="end_utc">end of show</option>
            </select>
            <button class="remove" onclick="removeEntry(this);">remove</button>
        </li>
    </ul>
    <br />
    <button onclick="addEntry();">add new</button>

    <br />
    <p id="url" class="code"></p>
    <button class="material-symbols-outlined" onclick="copy()">content_copy</button>

    <script src="{{ url_for('static', filename="generate-ical-url.js") }}"></script>
</body>
