<head>
    <title>AmigoText backend</title>
    <link rel="stylesheet" href="https://www.zomerparkfeest.nl/dist/css/styles.9613bcfb0df5bb8bcf8d.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body onload="updateAllDressingRoomButtons()">
    <h1>Dressing Room Entry</h1>
    {% block content %}
    <table id="data" class="table table-striped">
        <tbody>
        {% for key, act in acts.items() %}
            <tr class="act-name">
                <td colspan="2" class="act-name">{{ act["name"] }}</td>
            </tr>
            <tr>
                <td class="act-detail-header">Showtimes: </td>
                <td class="act-detail">
                    <ul>
                        {% for show in act["shows"] %}
                            <li>{{ show["start"] }} - {{ show["end"] }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="act-detail-header">Dressing room: </td>
                <td>
                    <div class="dressing-room-buttons" style="display: none;">
                        {% for room in ["1", "2", "3", "4", "5", "6", "None"] %}
                            <button
                                onclick="setDressingRoom('{{ key }}', '{{ room }}')"
                                class="dressing-room"
                                id="{{ key }}-{{ room }}"
                            >
                                {{ room }}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="dressing-room-loader">
                        <img
                            src="{{ url_for('static', filename='icons8-dots-loading.gif') }}"
                            class="dressing-room-loader"
                        />
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}

    <script src="{{ url_for('static', filename="index.js") }}"></script>
</body>
